<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.jplas.go_studyy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".Riwayat" />
        <activity android:name=".Membaca" />
        <activity android:name=".About" />
        <activity android:name=".Teman" />
        <activity android:name=".menghitung" />
        <activity android:name=".buah" />
        <activity android:name=".hewan" />
        <activity android:name=".angka" />
        <activity android:name=".alphabet" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splascreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>